.venv*
.vscode
*.log
**/__pycache__/
**/_*
**/DockerImageTars/
build/*
fastapi/resources/models/intel
fastapi/resources/models/ultralytics
finetune/.env
finetune/app/*-Results
fastapi/tests/*.mp4
fastapi/tests/*_test_imgs
