.venv*
.vscode
*.log
**/__pycache__/
**/_*
**/DockerImageTars/
build/*
fastapi/resources/models/intel
fastapi/resources/models/ultralytics
fastapi/tests/*_test_imgs
fastapi/tests/*.mp4
finetune/.env
finetune/app/*-Results
